In [2]:
#tuple
l=tuple()
print(l)
print(type(l))

()
<class 'tuple'>

In [3]:
t=1,2,3,4,5
print(t)
print(type(t))

(1, 2, 3, 4, 5)
<class 'tuple'>

In [8]:
l=eval(input())
print(sorted(l))
print(min(l))
print(max(l))

[222, 234, 234, 332, 433, 567, 667, 4331]
222
4331

In [9]:
#compare function
t=10,20,30
t2=40,50,60
t3=10,20,30
print(cmp(t1,t2))

NameError: name 'cmp' is not defined

In [22]:
t=1,123,13,12,3,123
print(t)
s=0
for i in t:
    print(i)
    s=s+i
    avg=s/len(t) 
print(s)
print(avg)

(1, 123, 13, 12, 3, 123)
1
123
13
12
3
123
275
45.833333333333336

In [23]:
l=[1,2,34,5,34,2,1,43,34]
print(set(l))

{1, 2, 34, 5, 43}

In [21]:
#set
s=set()
print(s)
print(type(s))

set()
<class 'set'>

In [24]:
#to eliminate duplicate in the list
l=[1,1,2,3,4,2,2,4]
print(list(set(l)))

[1, 2, 3, 4]

In [29]:
#dictionary
d={101:"a",202:"b",303:"c"}
print(d)
print(type(d))

{101: 'a', 202: 'b', 303: 'c'}
<class 'dict'>

In [30]:
d={}
n=int(input("No:"))
i=1
while i<=n:
    name=input("Name")
    marks=input("Marks")
    d[name]=marks
    i+=1
print(d)
for x in d:
    print(x,"\t",d[x])

{'a': '98', 'b': '67', 'c': '87', 'd': '33'}
a 	 98
b 	 67
c 	 87
d 	 33

In [37]:
#updating dict
d={'a': 98, 'b': 67, 'c': 87, 'd': 33}
d["a"]= [100,700]
d["e"]=200
print(d)
del d["a"]
print(d)

{'a': [100, 700], 'b': 67, 'c': 87, 'd': 33, 'e': 200}
{'b': 67, 'c': 87, 'd': 33, 'e': 200}

In [43]:
d={'a': 98, 'b': 67, 'c': 87, 'd': 33}
print(d["a"])
print(d.get("a"))
print(d.get("f","Guest"))

98
98
Guest

In [45]:
d={'a': 98, 'b': 67, 'c': 87, 'd': 33}
print(d.keys())
for k in d.keys():
    print(k)
print(d.values())
for k in d.values():
    print(k)

dict_keys(['a', 'b', 'c', 'd'])
a
b
c
d
dict_values([98, 67, 87, 33])
98
67
87
33

In [47]:
d={'a': 98, 'b': 67, 'c': 87, 'd': 33}
for k,v in d.items():
    print(k,"-->",v)

a --> 98
b --> 67
c --> 87
d --> 33

In [ ]:
#take dict from  keyboard and print the sum of variable
d={}
n=int(input("No:"))
i=1
while i<=n:
    name=input("name:")
    sal=s=int(input("Salary:"))
    d[name]=sal
    i+=1
print(d)
s=0
for i in d.values():
    s+=i
print(s)

{'a': 45, 'b': 34, 'c': 34, 'd': 56}
169

In [ ]:
#if key exists in dict  
d={'a': 98, 'b': 67, 'c': 87, 'd': 33}
t=input()
print(t in d.keys())

True

In [ ]:
#iterate over dict keys and values

In [65]:
#merge 2 dict
d1={'a':45,'b':67,'c':56}
d2={'d':65,'e':32,'f':89}
d1.update(d2)
print(d1)

{'a': 45, 'b': 67, 'c': 56, 'd': 65, 'e': 32, 'f': 89}

In [64]:
#find key with the max value
d={'a':45,'b':67,'c':56}
print(max(d.keys()))

c

In [66]:
#reverse a dict by keys
#create new dict with reversed key and value pairs
d={'a':45,'b':67,'c':56}
new={}
for k,v in d.items():
    new[v]=k
print(new)

{45: 'a', 67: 'b', 56: 'c'}

In [ ]:
s=int(input("Semesters:"))
no_sub=[]
for i in range (s):
    m=int(input("marks in {0} semester:".format(i+1)))
    no_sub.append(m)
i=0
print(no_sub)
marks=[]
for j in range (no_sub[i]):
    len(marks)==j
    m1=int(input("marks obtained in {0} semester:".format(i+1))) 
    marks.append(m1)
    print(marks)

[2, 3, 4]
[43, 56, 43]

In [82]:
#edit distance
# 2 strs s and t. return minimum no of operations required to convert s to t
# s=ycce
# t=ycsce
# op:1
# s=h4c
# t=h4c
# op:0
s=input()
t=input()
sl=list(s)
tl=list(t)
c=0
if s==t:
    print(0)
else: 
    for i in sl:
        if i in tl:
            tl.remove(i)   
    print(len(tl))

1

In [ ]:
#functions
def add(a,b):
    print(a+b)
a,b=map(int,input().split())
add(a,b)

In [ ]:
#main func
def add():
    a,b=map(int,input().split())
    print(a+b)
if __name__=='__main__':
    add()

In [1]:
#multiple values return
def calci(x,y):
    a=x+y
    s=x-y
    m=x*y
    d=x//y
    return a,s,m,d
a,b=map(int,input().split())
ra,rs,rm,rd=calci(a,b)
print("Addition=",ra,"\nSubtraction=",rs,"\nMultiplication=",rm,"\nDivision=",rd)

Addition= 110
Subtraction= 80
Multiplication= 1425
Division= 6

In [6]:
def add(a,b):
    print(a+b)
def sub(a,b):
    print(a-b)
def mul(a,b):
    print(a*b)
def div(a,b):
    print(a//b)
while True:
    a,b=map(int,input().split())
    
    print("a=",a,"\nb=",b,"\n1. Addition\n2. Subtraction\n3. Multiplication\n4. Division\n5.Exit")
    c=int(input())
    if c==1:
        add(a,b)
    elif c==2:
        sub(a,b)
    elif c==3:
        mul(a,b)
    elif c==4:
        div(a,b)
    elif c==5:
        break
    else:
        print("Error")

a= 34
b= 56
1. Addition
2. Subtraction
3. Multiplication
4. Division
5.Exit
90
a= 56
b= 43
1. Addition
2. Subtraction
3. Multiplication
4. Division
5.Exit
2408

ValueError: invalid literal for int() with base 10: 'r5'

In [ ]:
#create functions armstrong, reverse, palindrome, factorial with return values(menu driven)
def armstrong(n):
    n=int(input("No:"))
    n1=n
    ncopy=n
    c=0
    while n!=0:
        n=n//10
        c+=1
    print("No of digits:",c)
    x=1
    sum=0
    while n1!=0:
        x=(n1%10)**c
        sum+=x
        n1=n1//10
    if sum==ncopy:
        print(ncopy,"is an Armstrong no.")
    else:
        print("Not a armstrong no.")
def reversez():
    n=int(input())
    s=str(n)
    print(int(s[::-1]))
def palindrome():
    n=int(input("No:"))
    n1=n
    r=0
    while n!=0:
        r=r*10+(n%10)
        n=n//10
    print("Reverse is",r)
    if r==n1: 
        print(n1,"is a palindrome")
    else:
        print(n1,"is not a palindrome")

In [11]:
#keyword argument
def add(x,y):
    print("x=",x,"\ny=",y,"\nSum=",x+y,"\n-------------")
add (x=10,y=20)
add(y=20,x=30)
add(41,22)

x= 10
y= 20
Sum= 30
-------------
x= 30
y= 20
Sum= 50
-------------
x= 41
y= 22
Sum= 63
-------------

In [12]:
def add(x,y=55):
    print("x=",x,"\ny=",y,"\nSum=",x+y,"\n-------------")
add (x=10,y=20)
add(y=20,x=30)
add(41)

x= 10
y= 20
Sum= 30
-------------
x= 30
y= 20
Sum= 50
-------------
x= 41
y= 55
Sum= 96
-------------

In [13]:
def add(*n):
    r=0
    for i in n:
        r+=i
    return r
add(10,20,30)

60